html {
  margin-left: 20%;
  margin-right: 20%;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

body > mjx-container {
  display: none;
}

.todo {
  color: red;
}

.note {
  color: orange;
}
